.KJY{width: 100%;height: 100%;overflow:hidden;position: absolute;top: 0px;left: 0px;min-width: 1200px;min-height: 550px;}

/*头部*/
.header{width: 100%;height: 40px;position: relative;overflow: hidden;background:url(../img/hearbg.png) no-repeat;background-size:100% 100%;}
.header .logo{width: auto;padding-left:130px;height: 100%;background-image: url(../img/logo.png);background-position:20px center;background-repeat: no-repeat;float: left;background-size:auto 30px ;}
.header .logo .text{width: 300px;height:30px;margin-top:5px;border-left: 1px solid #fff;font: bold 22px/30px 黑体;color: #fff;text-indent: 30px;}
.header .quit{width: auto;padding-left:25px;background:url(../img/quit2.png) left center no-repeat;background-size:auto 20px;height: 100%;font: 12px/40px 黑体;color: #fff;cursor: pointer;margin-right: 20px;}

/*内容区*/
.main{width: 100%;}

/*内容区---------左部*/
.main .mainLeft{width: 15%;height: 100%;overflow: auto;background: #212e40;}
.main .mainRight{width: 85%;height: 100%;overflow: hidden;position: relative;}
.main .rightCon{width: 100%;overflow: hidden;position: relative;}
.main .rightCon iframe{height: 100%;}
.main .rightFooter{width: 100%;height: 20px;background: #eee;font: 12px/20px 黑体;color: #999;text-align: center;position: absolute;bottom: 0px;left: 0px;}
.layui-tab{margin: 0px;}
.layui-tab-content{padding: 0px;}
.layui-nav-tree{width: 100%;}
.layui-nav{background-color: #212e40;}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{background-color:#d12a51;color: #fff;}
.layui-nav-tree .layui-nav-bar{background-color: #fff;}
.layui-tab-title li{text-overflow:ellipsis;white-space: nowrap;}
.layui-tab-title li .layui-tab-close:hover{background-color:#d12a51;}
.layui-nav-tree a{cursor: pointer;}
.layui-nav-tree .layui-nav-item a:hover{background-color:#d12a51;}
.layui-nav-tree .layui-nav-item{border-bottom: 1px solid #192231;}
.layui-tab-item{height: 100%;}
.layui-nav-child a{padding-left: 40px !important;background-repeat: no-repeat;background-position: 20px center;background-size: 16px 16px;}
.menu-icon1{background-image: url(../img/icon1.png);}
.menu-icon2{background-image: url(../img/icon2.png);}
.menu-icon3{background-image: url(../img/icon3.png);}
.menu-icon4{background-image: url(../img/icon4.png);}
.menu-icon5{background-image: url(../img/icon5.png);}
.menu-icon6{background-image: url(../img/icon6.png);}
.menu-icon7{background-image: url(../img/icon7.png);}
.menu-icon8{background-image: url(../img/icon8.png);}
.menu-icon9{background-image: url(../img/icon9.png);}
.menu-icon10{background-image: url(../img/icon10.png);}

/*内容区---------右部*/
#rightIframe{overflow-y:hidden;}


