<!doctype html>
<html>

	<head>
		<title>果果故事树后台管理系统</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/comment.css" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/comment.js"></script>
	</head>

	<body>
		<div class="KJYBOX">
			<div class="main_mask">
				<div class="searchbox" v-if="type == '0'">
					<div class="search_text">
						<div class="search">
							<div class="searchname">曲目名称：</div>
							<div class="searchvalue">
								<input type="text" name="" value="" id="blur" placeholder="输入曲目关键词" />
							</div>
						</div>
					</div>
				</div>
				<div class="searchbox" v-if="type == '1'">
					<div class="search_text">
						<div class="search">
							<div class="searchname">专辑名称：</div>
							<div class="searchvalue">
								<input type="text" name="" value="" id="blur" placeholder="输入专辑关键词" />
							</div>
						</div>
					</div>
				</div>
				<div v-if="type == '0'" class="btnbox">
					<div class="btn" v-on:click="loaddata(type);">查询</div>
				</div>
				<div v-if="type == '1'" class="btnbox">
					<div class="btn" v-on:click="loaddata(type);">查询</div>
				</div>
				<div class="KJY_table">
					<table>
						<thead>
							<th class="padding20">名称</th>
							<th>创建时间</th>
						</thead>
						<tbody>
							<tr v-if="type == '0'" v-for="(t,i) in datalist">
								<td class="padding20">
									<div v-bind:class="['rnocheck',t.isActive?'rchecked':'']" v-on:click="selecttab($event,i,t.id)"></div>{{t.melodyName}}</td>
								<td>{{t.createTime | resetTime(t.createTime)}}</td>
							</tr>
							<tr v-if="type == '1'" v-for="(t,i) in datalist">
								<td class="padding20">
									<div v-bind:class="['rnocheck',t.isActive?'rchecked':'']" v-on:click="selecttab($event,i,t.id)"></div>{{t.albumName}}</td>
								<td>{{t.createTime | resetTime(t.createTime)}}</td>
							</tr>
							<tr v-if="type == '2'" v-for="(t,i) in datalist">
								<td class="padding20">
									<div v-bind:class="['rnocheck',t.isActive?'rchecked':'']" v-on:click="selecttab($event,i,t.id)"></div>{{t.articleTitle}}</td>
								<td>{{t.createTime | resetTime(t.createTime)}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="page">
					<div onclick="firstpage(1);">首页</div>
					<div onclick="beforepage(1);">上一页</div>
					<div class="pageinput">第<input type="text" name="" v-bind:value="currentPage" id="newpage" />页</div>
					<div>共<span id="allpage">{{pageSize}}</span>页</div>
					<div onclick="nextpage(1);">下一页</div>
					<div onclick="lastpage(1);">末页</div>
				</div>
				<div class="btnbox">
					<div class="btn" onclick="setpartent();">确定</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var paras = {
			datalist: [],
			datalen: "",
			currentPage: "",
			pageSize: "",
			type: ""
		}
		loadvue(paras);

		function setpartent() {
			layer.alert('关联成功', function() {
				$("#" + rname, window.parent.document).val(rchecktxt);
				$("#" + rid, window.parent.document).val(rcheck);
				parent.layer.close(index);
			});
		}

		//		加载
		function loaddata(ri, rn, id) {
			rindex = ri;
			rname = rn;
			rid = id;
			if(rindex == 0) {
				var paras = {
					page: page,
					blur: $("#blur").val()
				};
				paras = JSON.stringify(paras);
				crequest('POST', 'melody/queryList.do', 1, paras, function(res) {
					setData.type = '0';
					var datalist = res.data.melodyList;
					for(var i = 0; i < datalist.length; i++) {
						datalist[i].isActive = false;
					}
					setData.datalist = datalist;
					setData.currentPage = res.currentPage;
					setData.pageSize = res.pageSize;
					setData.datalen = res.data.melodyList.length;
					judedatalen(res.data.melodyList.length)
				}, function() {
					layer.msg("曲目加载失败");
				})
			} else if(rindex == 1) {
				var paras = {
					page: page,
					blur: $("#blur").val()
				};
				paras = JSON.stringify(paras);
				crequest('POST', 'album/queryList.do', 1, paras, function(res) {
					setData.type = '1';
					var datalist = res.data;
					for(var i = 0; i < datalist.length; i++) {
						datalist[i].isActive = false;
					}
					setData.datalist = datalist;
					setData.currentPage = res.currentPage;
					setData.pageSize = res.pageSize;
					setData.datalen = res.data.length;
					judedatalen(res.data.length)
				}, function() {
					layer.msg("专辑加载失败");
				})
			} else if(rindex == 2) {
				var paras = {
					page: page,
				};
				paras = JSON.stringify(paras);
				crequest('POST', 'article/queryList.do', 1, paras, function(res) {
					setData.type = '2';
					var datalist = res.data;
					for(var i = 0; i < datalist.length; i++) {
						datalist[i].isActive = false;
					}
					setData.datalist = datalist;
					setData.currentPage = res.currentPage;
					setData.pageSize = res.pageSize;
					setData.datalen = res.data.length;
					judedatalen(res.data.length)
				}, function() {
					layer.msg("发现加载失败");
				})
			}
		}
	</script>

</html>