<!doctype html>
<html>

	<head>
		<title>李扬故事汇后台管理系统</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="keywords" content="">
		<meta name="description" content="">
		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/reset.css" />
		<link rel="stylesheet" href="../css/comment.css" />
		<script src="../js/jquery-1.9.1.min.js"></script>
		<script src="../layui/layui.all.js"></script>
		<script src="../js/jquery.qrcode.js"></script>
		<script src="../js/utf.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/comment.js"></script>
	</head>

	<body>
		<div class="KJYBOX">
			<div class="KJY_title">曲目管理</div>
			<div class="searchbox">
				<div class="search_text">
					<!--<div class="search">
						<div class="searchname">分类：</div>
						<div class="searchvalue">
							<select name="" id="melodyCategory" v-on:change="loaddata">
								<option value="">请选择分类</option>
								<option v-for="category in categoryList" v-bind:value="category.categoryName">{{category.categoryName}}</option>
							</select>
						</div>
					</div>-->
					<div class="search">
						<div class="searchname">专辑：</div>
						<div class="searchvalue">
							<select name="" id="melodyAlbum" v-on:change="loaddata">
								<option value="">请选择专辑</option>
								<option v-for="album in albumList" v-bind:value="album.albumName">{{album.albumName}}</option>
							</select>
						</div>
					</div>
					<div class="search">
						<div class="searchname">精品分类：</div>
						<div class="searchvalue">
							<select name="" id="melodyPrecious" v-on:change="loaddata">
								<option value="">请选择分类</option>
								<option value="true">精品</option>
								<option value="false">非精品</option>
							</select>
						</div>
					</div>
					<div class="search">
						<div class="searchname">曲目名称：</div>
						<div class="searchvalue">
							<input type="text" name="" value="" id="blur" placeholder="输入曲目关键词" />
						</div>
					</div>
				</div>
			</div>
			<div class="btnbox">
				<div class="btn" onclick="loaddata();">查询</div>
				<div class="btn" onclick="showmask(this,'新建曲目');">新建曲目</div>
				<div class="btn" onclick="deldata();">删除</div>
			</div>
			<div class="KJY_table">
				<table border="0" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="padding20">
								<div v-bind:class="['nocheck',allisActive?'checked':'']" v-on:click="allselectdata($event)"></div>序号</th>
							<th>曲目名称</th>
							<th>艺术家</th>
							<!--<th>分类</th>-->
							<th>专辑</th>
							<th>曲目价格</th>
							<th>播放次数</th>
							<th>创建时间</th>
							<th>修改时间</th>
							<th>操作</th>
						</tr>
						<tbody id="tbody">
							<tr v-for="(t,i) in datalist">
								<td class="padding20">
									<div v-bind:class="['nocheck',t.isActive?'checked':'']" v-on:click="selectdata($event,i,t.id)"></div>{{((currentPage-1)*20)+(i+1)}}</td>
								<td>{{t.melodyName}}</td>
								<td>{{t.melodyArtist}}</td>
								<!--<td>{{t.melodyCategory}}</td>-->
								<td>{{t.melodyAlbum}}</td>
								<td>{{t.melodyPrice}}</td>
								<td>{{t.melodyPlayTimes}}</td>
								<td>{{t.createTime | resetTime(t.createTime)}}</td>
								<td>{{t.updateTime | resetTime(t.updateTime)}}</td>
								<td>
									<div class="btn" v-on:click="seedata(t.id)">编辑</div>
								</td>
							</tr>
						</tbody>
					</thead>
				</table>
			</div>
			<div class="page">
				<div>每页显示<span>20</span>条记录</div>
				<div onclick="firstpage(0);">首页</div>
				<div onclick="beforepage(0);">上一页</div>
				<div class="pageinput">第<input type="text" name="" v-bind:value="currentPage" id="newpage" />页</div>
				<div>共<span id="allpage">{{pageSize}}</span>页</div>
				<div onclick="nextpage(0);">下一页</div>
				<div onclick="lastpage(0);">末页</div>
				<div class="pagedir">当前显示<span>{{(currentPage-1)*20+1}}</span>-<span id="enddata">{{(currentPage-1)*20+datalen}}</span>条记录,共<span>{{count}}</span>条记录</div>
			</div>
		</div>
	</body>
	<script>
		var paras = {
			albumList: [],
			categoryList: [],
			datalist: [],
			datalen: "",
			currentPage: "",
			count: "",
			pageSize: "",
			allisActive: false
		}
		loadvue(paras);
		//		新建弹出
		function showmask(t, title) {
			openmask("", "../part/songMagAE", title, "60%", "100%", function(layerdom, layerifame) {
				layerifame[0].contentWindow.loadselect(function() {
					layerdom.find("#creatsave").attr("onclick", "save();");
					layerdom.find("#QRCodebox").hide()
					layerdom.find("#QRCode").empty();
				})
			})
		}
		//		查看数据
		function seedata(id) {
			openmask(id, "../part/songMagAE", "编辑曲目", "60%", "100%", function(layerdom, layerifame) {
				layerifame[0].contentWindow.loadselect(function() {
					$('#QRCode').empty();
					var paras = {
						id: id
					};
					paras = JSON.stringify(paras);
					var timestamp = new Date().getTime();
					crequest('POST', 'melody/query.do', 1, paras, function(res) {
						layerdom.find("#Name").val(res.data.melodyName);
						layerdom.find("#Author").val(res.data.melodyAuthor);
						layerdom.find("#Artist").val(res.data.melodyArtist);
						binddata('album/queryList.do', res.data.melodyAlbum, function(res) {
							var Album = res.data;
							for(var i = 0; i < Album.length; i++) {
								layerdom.find("#Album").val(Album[i].id);
							}
						})
						//								layerdom.find("#Tags").val(data.data.melodyTags);
						layerdom.find("#melodySort").val(res.data.melodySort);
						layerdom.find("#ages").val(res.data.melodyAgeStart + "-" + res.data.melodyAgeEnd);
						layerdom.find("#Price").val(res.data.melodyPrice);
						layerdom.find("#showImage").attr("src", url + res.data.melodyCoverImage + "?timestamp=" + timestamp);
						layerdom.find("#showImage").attr("alt", res.data.melodyCoverImage);
						layerdom.find("#showsong").attr("src", url + res.data.melodyFilePath);
						layerdom.find("#songtext").val(res.data.melodyFilePath);
						layerdom.find("#creatsave").attr("onclick", "updata();");
						layerdom.find("#QRCodesave").show();
						layerdom.find("#QRCode").qrcode({
							render: "canvas",
							text: url + "share/player.html?melodyId=" + res.data.id + "&melodyAlbum=" + res.data.melodyAlbum,
							width: "100", //二维码的宽度
							height: "100", //二维码的高度
							background: "#ffffff", //二维码的后景色
							foreground: "#000000", //二维码的前景色
						});
					}, function() {
						layer.msg("查看曲目失败");
					})
				})

			})
		}

		//删除数据
		function deldata() {
			if(delidList.length == 0) {
				layer.msg("请选择要删除的数据")
			} else {
				layer.confirm('确定要删除此条数据吗？', {
					btn: ['确定', '取消']
				}, function() {
					var paras = {
						idList: delidList
					}
					crequest('POST', 'melody/delete.do', 0, paras, function(res) {
						loaddata();
						layer.closeAll('dialog');
					}, function() {
						layer.msg("删除失败");
					})
				}, function() {

				});
			}
		}

		function loaddata() {
			var melodyCategory = $("#melodyCategory").val();
			var melodyAlbum = $("#melodyAlbum").val();
			var paras = {
				page: page,
				blur: $("#blur").val(),
				melodyCategory: melodyCategory,
				melodyAlbum: melodyAlbum,
				isPrecious: $("#melodyPrecious").val()
			};
			paras = JSON.stringify(paras);
			crequest('POST', 'melody/queryList.do', 1, paras, function(res) {
				setData.albumList = res.data.albumList;
				setData.categoryList = res.data.categoryList;
				var datalist = res.data.melodyList;
				for(var i = 0; i < datalist.length; i++) {
					datalist[i].isActive = false;
				}
				setData.allisActive = false;
				setData.datalist = datalist;
				setData.currentPage = res.currentPage;
				setData.count = res.count;
				setData.pageSize = res.pageSize;
				setData.datalen = res.data.melodyList.length;
				judedatalen(res.data.melodyList.length)
			}, function() {
				layer.msg("曲目加载失败");
			})
		}

		loaddata();
	</script>

</html>